@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* Начинаем за пределами экрана */
  }
  100% {
    transform: translateX(0); /* Останавливаемся на месте */
  }
}

.customButton {
  background-color: #a463b0;
  color: white;
  display: block;
}

.centered-container {
  animation: slideIn 1s ease-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Высота 100% от высоты окна просмотра */
  /* text-align: center; */
}
