.body_profile {
  background-color: #a7a7a7;
}

.navBar {
  background-color: #e3935b;
}

.appBarButtonColor {
  background-color: #6b6ef9;
  color: white;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 35px;
}

@media (max-width: 1020px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 730px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

.settings_model {
  display: "flex";
  justify-content: center;
  flex-direction: column;
}
