.body_profile {
  background-color: #a7a7a7; /* Ваш цвет */
}

.navBar {
  background-color: #e3935b;
}

.appBarButtonColor {
  background-color: #6b6ef9;
  color: white;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

@media (max-width: 780px) {
  .cardGrid {
    grid-template-columns: 1fr; /* Переход к одной колонке */
  }
}

.settings_model {
  display: "flex";
  justify-content: center;
  flex-direction: column;
}
